services:
  frontend:
    container_name: indusmind-frontend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    networks:
      - indusmind-network

networks:
  indusmind-network:
    driver: bridge
